/.idea/.idea.Hotels.dir/.idea/.gitignore
/.idea/.idea.Hotels.dir/.idea/encodings.xml
/.idea/.idea.Hotels.dir/.idea/indexLayout.xml
/.idea/.idea.Hotels.dir/.idea/vcs.xml
/.idea/.idea.ParadiseHotels/.idea/.gitignore
/.idea/.idea.ParadiseHotels/.idea/encodings.xml
